body {
    height: 100vh;
}
.profile {
    padding: 80px 0 160px;
    margin-left: 30px;
}
.profile .container {
    display: flex;
    height: 350px;
    width: 900px;
}
.profile_content {
    position: relative;
    width: calc(100% - 260px);
}
.profile_content_img {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.profile_content_img img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}
.profile_content_img button {
    background: rgb(255, 75, 75);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 20px auto 0;
    width: fit-content;
    border-radius: 8px;
    color: #fff;
}
.profile_content_name {
    font-size: 2rem;
    margin-top: 30px;
    color: var(--title-color);
}
.profile_content_dolg span,
.profile_content_place span {
    font-weight: 700;
    color: var(--text-color);
}
.profile_content_place {
    padding: 16px 0 10px;
    color: var(--title-color);
    font-size: 1.1rem;
}
.profile_content_dolg {
    color: var(--title-color);
    font-size: 1.1rem;
}
.profile_content_change-button {
    margin-top: 50px;
    border: 2px solid var(--line);
    cursor: pointer;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
    background: var(--body-color);
    border-radius: 25px;
    padding: 12px 25px;
    transition: .3s ease-in-out;
}
.profile_content_change-button:hover {
    color: #fff;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
}
#profile_content_change {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none; /*поставить display initial, чтобы показать*/
    padding: 0 20px 20px;
    overflow-y: auto;
    border-radius: 20px;
    z-index: 5;
    top: 0;
    left: 0;
    background: var(--container-color);
}
.profile_change_item_title {
    font-size: 1rem;
    color: var(--text-color);
    padding-top: 12px;
    padding-bottom: 6px;
}
.profile_change_item_row {
    display: flex;
    align-items: center;
}
.profile_change_item_row button {
    margin-left: 12px;
}
.profile_change_item_col {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.profile_change_item button {
    padding: 4px 8px;
    background: var(--container-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: .9rem;
    transition: .15s ease-in-out;
    border: 1px solid var(--color-primary);
}
.profile_change_item button:hover {
    background: var(--color-primary);
    color: #fff;
}
.profile_change_item_col input {
    padding: 6px;
    border-radius: 4px;
    font-size: .9rem;
    margin: 4px 0;
    border: 1px solid var(--line);
}
.profile_change_item-pass button {
    margin-top: 12px;
}
@media screen and (max-width: 600px) {
    .banner_img {
        min-height: 200px;
    }
    .news_wrapper {
        flex-direction: column;
    }
    .news {
        width: fit-content;
    }
    .news_desc {
        -webkit-line-clamp: 4;
    }
    .footer_top {
        flex-direction: column;
    }
    .footer_left {
        padding-right: 0;
        justify-content: center;
        text-align: center;
    }
    .footer_left img {
        margin: 0 auto 20px;
    }
    .footer_right {
        padding-top: 20px;
        text-align: center;
    }
    .footer_bottom {
        margin-top: 20px;
        border-top: 1px solid var(--line);
        padding-top: 20px;
    }
    .profile .container {
        flex-direction: column;
    }
    .profile_content_img {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }
    .profile_content {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .profile_content_name {
        margin-top: 0;
    }
    .profile_change_item_row {
        flex-direction: column;
        align-items: baseline;
    }
    .profile_change_item_row button {
        margin-top: 12px;
    }
    .profile_change_item_title {
        text-align: left;
    }
}