.footer {
    background: var(--container-color);
    padding: 40px 30px 40px;
    box-shadow: var(--shadow-small-content);
}
.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_left {
    color: var(--title-color);
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.footer_left img {
    max-width: 100px;
    margin-bottom: 10px;
}
.footer_right {
    text-align: right;
    display: flex;
    flex-direction: column;
}
.footer_right a {
    color: var(--color-primary);
    padding: 8px 0;
}
.footer_bottom {
    text-align: center;
    margin-top: 80px;
}
@media screen and (max-width: 600px) {
    .banner_img {
        min-height: 200px;
    }
    .news_wrapper {
        flex-direction: column;
    }
    .news {
        width: fit-content;
    }
    .news_desc {
        -webkit-line-clamp: 4;
    }
    .footer_top {
        flex-direction: column;
    }
    .footer_left {
        padding-right: 0;
        justify-content: center;
        text-align: center;
    }
    .footer_left img {
        margin: 0 auto 20px;
    }
    .footer_right {
        padding-top: 20px;
        text-align: center;
    }
    .footer_bottom {
        margin-top: 20px;
        border-top: 1px solid var(--line);
        padding-top: 20px;
    }
    .profile .container {
        flex-direction: column;
    }
    .profile_content_img {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }
    .profile_content {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .profile_content_name {
        margin-top: 0;
    }
    .profile_change_item_row {
        flex-direction: column;
        align-items: baseline;
    }
    .profile_change_item_row button {
        margin-top: 12px;
    }
    .profile_change_item_title {
        text-align: left;
    }
}