
/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/

  /* ecf0f3 */
  /* dark color */
  --color-primary: #5361ff;
  --title-color: #0b1f35;
  --text-color: #6f6a6a;
  --text-color-light: #9b9b9b;
  --color-dark: #4c4c4c;
  --body-color: #f5f7fa;
  --container-color: #fff;
  --line: #c5c5c5;
  --line-light: #e8e8e8;
  --shadow-color: rgb(255 255 255 / 11%);

  --radius: 5px;
  --radius-8: 8px;

  /* shadow */
  --shadow-big-content: 0 0 12px rgb(0, 0, 0, 0.16);
  --shadow-small-content: 0 0 12px rgb(0, 0, 0, 0.08);


  /*========== Font and typography ==========*/
  --logo-font: 'Chango';
  --body-font: 'Roboto', -apple-system, Fira Sans, BlinkMacSystemFont, Arial, sans-serif;
  --text-font: -apple-system, Fira Sans, BlinkMacSystemFont, Arial, sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  /*overflow: hidden;*/
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  font-family: var(--body-font) !important;
  background-color: var(--body-color);
  color: var(--title-color);
  font-weight: 500;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  list-style: none;
}
p {
  line-height: 28px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, var(--body-font), Segoe UI,
    Roboto, Helvetica, Ubuntu, Cantarell, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}
h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  transition: 0.2s ease;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.sec-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding-bottom: 6px;
}

/* header */
.header {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  background: var(--container-color);
  box-shadow: 0px 0px 15px rgba(46, 46, 46, 0.05);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
.header_profile {
  display: flex;
  align-items: center;
}
.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile_name {
  font-size: 1.05rem;
  color: var(--title-color);
  font-weight: 500;
  padding-left: 14px;
}
.header_chats {
  height: 40px;
  width: 40px;
  position: relative;
}
.header_chats_notify {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.8rem;
  padding: 4px 6px;
  border-radius: 50px;
  background: var(--color-primary);
  color: var(--container-color);
}

/* BANNER */
.main_banner {
  margin-top: 30px;
}
.main_banner .container {
  position: relative;
}
.banner_img {
  min-height: 300px;
  border-radius: 25px;
  object-fit: cover;
}
.banner_buttons {
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.banner_buttons button {
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  height: 51px;
  cursor: pointer;
  background: rgba(255,255,255,1);
  backdrop-filter: blur(8px);
  position: relative;
  width: 51px;
}
.banner_buttons svg {
  stroke: #000;
  color: transparent;
  height: 16px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 8px;
}
.cases-carousel__arrow_right {
  right: 40px !important;
  transform: translate(-50%,-50%) rotate(180deg) !important;
}

/* NEWS */
.news_section {
  padding: 80px 0;
}
.news_wrapper {
  margin-top: 10px;
  width: 100%;
  background: var(--container-color);
  padding: 15px;
  border-radius: 25px;
  position: relative;
  display: flex;
  position: relative;
}
.news {
  width: calc(33.3% - 20px);
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid var(--line);
}
.news_title {
  font-size: 1.4rem;
  color: var(--title-color);
}
.news_desc {
  font-size: .9rem;
  line-height: 1.5rem;
  padding-top: 10px;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
/* полная новость */
.news_big {
  display: initial; /*display initial - открыть полную новость*/
  position: absolute;
  border-radius: 25px;
  padding: 30px;
  overflow: hidden;
  background: var(--container-color);
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.news_big .news_desc {
  overflow-y: auto !important;
}
.news_big button {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--title-color);
  border: 1px solid var(--line);
  padding: 6px 12px;
  border-radius: 25px;
  background: var(--container-color);
  margin-bottom: 12px;
  transition: .2s ease-in-out;
}
.news_big button:hover {
  background: var(--line);
}

/* FOOTER */
.footer {
  background: var(--container-color);
  padding: 40px 0 30px;
  box-shadow: var(--shadow-small-content);
}
.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_left {
  color: var(--title-color);
  max-width: 400px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.footer_left img {
  max-width: 100px;
  margin-bottom: 10px;
}
.footer_right {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.footer_right a {
  color: var(--color-primary);
  padding: 8px 0;
}
.footer_bottom {
  text-align: center;
  margin-top: 80px;
}

/* CHATS */
.chats {
  height: calc(100vh - 80px);
  padding: 40px 0;
}
.chats main {
  width: 100%;
}
.chats .container {
  height: 100%;
}
.chats_wrapper {
  height: 100%;
  width: 100%;
  background: var(--container-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.chats_message_side {
  width: 360px;
  padding: 12px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid var(--line-light);
}
.chats_message_side::-webkit-scrollbar {
  width: 12px;
}
.chats_message_side::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
}
.chats_message_side::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
  border-radius: 20px; 
  border: 3px solid rgb(246, 246, 246);
}
.chat_message_splash_wrapper::-webkit-scrollbar {
  width: 12px;
}
.chat_message_splash_wrapper::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
}
.chat_message_splash_wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
  border-radius: 20px; 
  border: 3px solid rgb(246, 246, 246);
}
.header-search {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.search-container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}
.search-container input#search {
  width: 100%;
  height: 40px;
  background: var(--body-color);
  border: 1px solid var(--line);
  font-size: 10pt;
  float: left;
  color: var(--title-color);
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 6px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.search-container input#search::-webkit-input-placeholder {
  color: var(--head-color-icon);
}

.search-container input#search:-moz-placeholder {
  /* Firefox 18- */
  color: var(--head-color-icon);
}

.search-container input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--head-color-icon);
}

.search-container input#search:-ms-input-placeholder {
  color: var(--head-color-icon);
}
.search-container .icon {
  position: absolute;
  margin-left: 17px;
  z-index: 1;
  color: var(--head-color-icon);
}
.search-container input#search:hover,
.search-container input#search:focus,
.search-container input#search:active {
  outline: none;
  background: var(--container-color);
  border: 1px solid var(--color-primary);
}

/* chat */
.chat {
  background: var(--container-color);
  border: 1px solid var(--line-light);
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  margin: 10px 0;
  position: relative;
}
.chat_img {
  height: 55px;
  width: 55px;
  border-radius: 50px;
  overflow: hidden;
}
.chat_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.chat_content {
  width: 100%;
}
.chat_name {
  font-size: .95rem;
  color: var(--title-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat_who {
  color: var(--text-color-light);
  font-size: .91rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat_notify {
  background: var(--color-primary);
  position: absolute;
  top: 10px;
  right: 10px;
  height: fit-content;
  padding: 4px 5px;
  font-size: .8rem;
  color: #fff;
  border-radius: 50px;
}
/* chats */
.chat_message_content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
}
.chat_message_splash_wrapper {
  height: calc(100% - 90px);
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
.chat_message_splash {
  padding: 12px 16px 8px;
  margin: 10px 15px;
  width: 60%;
  background: var(--body-color);
  border-radius: 15px;
}
.splash_name {
  font-size: 1rem;
  color: var(--title-color);
}
.splash_text {
  font-size: .85rem;
  line-height: 1.4rem;
  color: var(--text-color);
}
.my_splash {
  margin-left: auto;
}
.splash_date {
  font-size: 0.85rem;
  text-align: right;
  color: var(--text-color);
}
/* input */
.chat_message_content input {
  padding: 16px 20px;
  background: var(--body-color);
  border: 1px solid var(--line);
  border-radius: 10px;
  height: 60px;
  outline: none;
  width: calc(100% - 40px);
}
.text_input {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.text_input_send-button {
  background: var(--container-color);
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.text_input_filename {
  font-size: .8rem;
  display: none;
}
.text_input_attach-button {
  margin-right: 15px;
  cursor: pointer;
}


/* PROFILE */
.profile {
  padding: 80px 0 160px;
}
.profile .container {
  display: flex;
}
.profile_content {
  position: relative;
  width: calc(100% - 260px);
}
.profile_content_img {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.profile_content_img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
.profile_content_img button {
  background: rgb(255, 75, 75);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 20px auto 0;
  width: fit-content;
  border-radius: 8px;
  color: #fff;
}
.profile_content_name {
  font-size: 2rem;
  margin-top: 30px;
  color: var(--title-color);
}
.profile_content_dolg span,
.profile_content_place span {
  font-weight: 700;
  color: var(--text-color);
}
.profile_content_place {
  padding: 16px 0 10px;
  color: var(--title-color);
  font-size: 1.1rem;
}
.profile_content_dolg {
  color: var(--title-color);
  font-size: 1.1rem;
}
.profile_content_change-button {
  margin-top: 50px;
  border: 2px solid var(--line);
  cursor: pointer;
  font-weight: 600;
  color: var(--text-color);
  font-size: 1rem;
  background: var(--body-color);
  border-radius: 25px;
  padding: 12px 25px;
  transition: .3s ease-in-out;
}
.profile_content_change-button:hover {
  color: #fff;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}
#profile_content_change {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none; /*поставить display initial, чтобы показать*/
  padding: 0 20px 20px;
  overflow-y: auto;
  border-radius: 20px;
  z-index: 5;
  top: 0;
  left: 0;
  background: var(--container-color);
}
.profile_change_item_title {
  font-size: 1rem;
  color: var(--text-color);
  padding-top: 12px;
  padding-bottom: 6px;
}
.profile_change_item_row {
  display: flex;
  align-items: center;
}
.profile_change_item_row button {
  margin-left: 12px;
}
.profile_change_item_col {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.profile_change_item button {
  padding: 4px 8px;
  background: var(--container-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: .9rem;
  transition: .15s ease-in-out;
  border: 1px solid var(--color-primary);
}
.profile_change_item button:hover {
  background: var(--color-primary);
  color: #fff;
}
.profile_change_item_col input {
  padding: 6px;
  border-radius: 4px;
  font-size: .9rem;
  margin: 4px 0;
  border: 1px solid var(--line);
}
.profile_change_item-pass button {
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  .banner_img {
    min-height: 200px;
  }
  .news_wrapper {
    flex-direction: column;
  }
  .news {
    width: fit-content;
  }
  .news_desc {
    -webkit-line-clamp: 4;
  }
  .footer_top {
    flex-direction: column;
  }
  .footer_left {
    padding-right: 0;
    justify-content: center;
    text-align: center;
  }
  .footer_left img {
    margin: 0 auto 20px;
  }
  .footer_right {
    padding-top: 20px;
    text-align: center;
  }
  .footer_bottom {
    margin-top: 20px;
    border-top: 1px solid var(--line);
    padding-top: 20px;
  }
  .profile .container {
    flex-direction: column;
  }
  .profile_content_img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
  .profile_content {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  .profile_content_name {
    margin-top: 0;
  }
  .profile_change_item_row {
    flex-direction: column;
    align-items: baseline;
  }
  .profile_change_item_row button {
    margin-top: 12px;
  }
  .profile_change_item_title {
    text-align: left;
  }
}

form button:hover {
  background: #6c49d6;
}
.form_input {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 400;
  border: 1px solid #ccc;
}
.form_input:focus {
  outline: #8b65fe;
  border: 1px solid #8b65fe;
}
.form_btn {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background: #8b65fe;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border: none;
  padding: 15px;
  transition: 0.2s ease;
}


.reg_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background: #f5f7fa;
  /*background: url(https://img1.akspic.ru/attachments/crops/1/7/1/2/0/102171/102171-peyzash-nebo-vodohranilishhe-priroda-fjord-1920x1080.jpg);*/
  background-size: cover;
}
.reg {
  border-radius: 50px;
  box-shadow: var(--shadow-big-content);
  background: var(--content-color);
  display: flex;
  margin: 0 auto;
  width: 400px;
  position: relative;
  overflow: hidden;
}
.reg_change {
  border: 2px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  width: 100%;
}
.reg_change_button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  color: var(--title-color);
  transition: 0.2s ease;
}
.reg_change_button:hover {
  background: var(--content-color-hover);
}
.reg_change_button.active_change_button {
  background: var(--content-color-hover);
}
.reg_data {
  padding: 80px 50px 60px 50px;
  border-radius: 30px;
  height: 100%;
  z-index: 2;
  text-align: center;
  width: 100%;
  background: var(--content-color);
}
.reg_data_name {
  font-size: 17px;
  position: absolute;
  right: 40px;
  font-family: "Roboto Mono", monospace;
  top: 20px;
}
.reg_data_title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

