form p {
  text-align: left;
  color: #5e5d5d;
  margin-top: 6px;
}
form input {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 400;
  border: 1px solid #ccc;
}
form input:focus {
  outline: #8b65fe;
  border: 1px solid var(--primary-color);
}
form button {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background: var(--primary-color);
  color: black;
  font-weight: 600;
  font-size: 17px;
  border: none;
  padding: 15px;
  transition: 0.2s ease;
}
form button:hover {
  background: var(--primary-color-hover);
}
.form_input {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 400;
  border: 1px solid #ccc;
}
.form_input:focus {
  outline: #8b65fe;
  border: 1px solid var(--primary-color);
}
.form_btn {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background: var(--primary-color);
  color: black;
  font-weight: 600;
  font-size: 17px;
  border: none;
  padding: 15px;
  transition: 0.2s ease;
}
