.reg_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  /*background: url(https://img1.akspic.ru/attachments/crops/1/7/1/2/0/102171/102171-peyzash-nebo-vodohranilishhe-priroda-fjord-1920x1080.jpg);*/
  background-size: cover;
}
.reg {
  border-radius: 50px;
  box-shadow: var(--shadow-big-content);
  background: var(--content-color);
  display: flex;
  margin: 0 auto;
  width: 400px;
  position: relative;
  overflow: hidden;
}
.reg_change {
  border: 2px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  width: 100%;
}
.reg_change_button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  color: var(--title-color);
  transition: 0.2s ease;
}
.reg_change_button:hover {
  background: var(--content-color-hover);
}
.reg_change_button.active_change_button {
  background: var(--content-color-hover);
}
.reg_data {
  padding: 80px 50px 60px 50px;
  border-radius: 30px;
  height: 100%;
  z-index: 2;
  text-align: center;
  width: 100%;
  background: var(--content-color);
}
.reg_data_name {
  font-size: 17px;
  position: absolute;
  right: 40px;
  font-family: "Roboto Mono", monospace;
  top: 20px;
}
.reg_data_title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
